

.novidades__titulo {
color: var(--azul);
font-family: var(--fonte-principal);
font-size: 18px;
font-weight: 500;
padding: 1.1em;
}

.novidade__texto {
color: var(--azul-degrade);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 300;
padding: 1.1em;
}

.novidade__pesquisa {

    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid var(--azul);
    color: var(--azul-degrade);
    border-radius: 24px;
    width: 80%;
    margin: 0em 2em;
    padding: 1em;
}

.novidade__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--azul-degrade);
    background: url(../img/Email.svg) no-repeat;
    background-position: 1em;
}

.rodape {
    background-color: var(--cinza); 
}

.lista-rodape {
    display: none;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--preto);
    margin: 0.5em 1.5em;
}

.line {
    border: 1px solid var(--line);
    margin: 0;
}

.line__itens {
    display: none;
}






@media screen and (min-width: 1024px) {
    .novidades {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .novidades__titulo {
        font-size: 24px;
    }

    .novidade__texto {
        width: 74%;
        color: var(--azul);
        padding: 0 2em;
    }

    .novidade__pesquisa {
        width: 90%;
    }

    .rodape__texto {
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
        color: var(--preto);
        margin: 0.5em 1.5em;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 2em 2em;
    }


    .lista-rodape {
        display: block;
    }
    
    .lista-rodape__titulo {
        font-family: var(--fonte-principal);
        font-size: 14px;
        font-weight: 400;
        color: var(--line);
        margin: 1em 0 2em;

    }

    .lista-rodape__item {
        margin: 0 0 1em;
        display: flex;
        align-items: center;
    }

    .lista-rodape__link {
        font-family: var(--fonte-principal);
        font-size: 14px;
        font-weight: 400;
        color: var(--cinza-escuro);
        text-decoration: none;
        margin: 0 1em;
    }

    .lista-rodape__item:hover {
        transform: scale(1.1);
        transition: 1s transform;
    }
    
}

@media screen and (min-width: 1728px) {
    
    .novidades {
        display: flex;
    }

    .novidade__pesquisa {
        width: 90%;
    }

    .novidade__texto {
        width: 74%;
        color: var(--azul);
        padding: 0 2em;
    }

    .line__itens {
        display: block;
        margin-right: 1em;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 2em 2em;
    }
    
}